.alert
  <!-- Сообщение об успешном создании объявления -->
  template#alert__success
    .alert__success
      p.alert__success-message C вами в течении 15 минут

  <!-- Сообщение об ошибке при загрузке -->
  template#alert__error-loading
    .alert__error-loading
      p.alert__error-loading-messege Произошла ошибка при загрузке данных с сервера :<br>( Обновите страницу!)
