footer.footer
  .footer__wrapper-select
    .footer__block-select
      ul.footer__list-select-city
        li.footer__item-select-city.footer__item-select-city--active
          a.footer__link-select-city САНКТ-ПЕТЕРБУРГ
        li.footer__item-select-city
          a.footer__link-select-city МОСКВА
        li.footer__item-select-city
          a.footer__link-select-city МИНСК
      a.footer__button-link(href="#") Запись на курс
  .footer__wrapper-copyright
    .footer__copyright
      p Copyright © 2018 All rights reserved
      .footer__block-offer
        p Договор-оферта
        p Политика конфиденциальности
