footer.footer
  form.footer__form(action="", method="post")
    .footer__wrapper-input
      label(for="fulname")
        input#fulname(type="text", name="fulname" placeholder="Имя")
      label(for="phone")
        input#fulname(type="tel", name="phone" placeholder="Телефон")
      label(for="email")
        input#email(type="email", name="email" placeholder="Телефон")
      button(type="submit") Записаться на курс
  .footer__block-select
    ul.footer__list-select-city
      li.footer__item-select-city.footer__item-select-city--active
        a.footer__link-select-city САНКТ-ПЕТЕРБУРГ
      li.footer__item-select-city
        a.footer__link-select-city МОСКВА
      li.footer__item-select-city
        a.footer__link-select-city МИНСК
    a.footer__button-link(href="#") Запись на курс
  .footer__copyright
    p Copyright © 2018 All rights reserved
    p Договор-оферта
    p Copyright © 2018 All rights reserved 
