header.header
  .header__wrapper-select-city
    p.header__select-city САНКТ-ПЕТЕРБУРГ
    ul.header__list-select-city
      li.header__item-select-city
        a.header__link-select-city САНКТ-ПЕТЕРБУРГ
      li.header__item-select-city
        a.header__link-select-city МОСКВА
      li.header__item-select-city
        a.header__link-select-city МИНСК
  ul.header__nav
    li.header__nav-item
      a.header__nav-link(href="#1") Программа
    li.header__nav-item
      a.header__nav-link(href="#1") Отзывы
    li.header__nav-item
      a.header__nav-link(href="#1") Стоимость
    li.header__nav-item
      a.header__nav-link(href="#1") О преподавателе
  a.header__button-link(href="#") Запись на курс
  .header__block-text
    p Санкт-петербург
      span 10-21 мая
    strong Начни делать Customer Development и проверять гипотезы
    p На оффлайн курсе из 5 воркшопов
    a.header__button-link(href="#") ЗАПИСАТЬСЯ
  a.header__test(href="#")
    p Оценка
    strong 9 из 10
    p Иван Матвиенко
      span Wimprof
    p Читать отзыв  →
