extends layout/doctype

block content
  body.body
    include layout/header
    //- main.main
    //-   include layout/section/promo
    //-   include layout/section/why
    //-   include layout/section/well
    //-   include layout/section/result
    //-   include layout/section/trust
    //-   include layout/section/reviews
    //-   include layout/section/streams
    //-   include layout/section/price
    //-   include layout/section/consist
    //- include layout/footer
    script(src="js/script.min.js")
