.footer {
  display: block;
}

.footer__wrapper-select {
  background: $blue;
}

.footer__block-select {
  max-width: 1179px;
  margin: 0 auto;
  padding: 41px 9px 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $desktop-width-min) {
    padding: 50px 16px 50px 17px;
  }

  @media (max-width: $tablet-width) {
    padding: 36px 0 46px 0;
    flex-direction: column;
  }
}

.footer__list-select-city {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.footer__item-select-city {
  margin-right: 26px;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    justify-content: center;
  }

  &--active {
    .footer__link-select-city {
      font-weight: bold;
    }
  }
}

.footer__link-select-city {
  font-weight: normal;
  font-size: 14px;
  line-height: 119.62%;
  color: $white;

  @media (max-width: $tablet-width) {
    padding: 8px;
  }
}

.footer__button-link {
  width: 160px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 119.62%;
  color: $blue;
  background: $white;
  border-radius: 50px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    margin: 25px auto 0;
  }
}

.footer__wrapper-copyright {
  background: $blue-special;
}

.footer__copyright {
  max-width: 1179px;
  margin: 0 auto;
  padding: 29px 0 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $desktop-width-min) {
    padding: 18px 14px 18px 18px;
  }

  @media (max-width: $tablet-width) {
    padding: 42px 0 48px;
    flex-direction: column-reverse;
  }

  p {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 119.62%;
    color: $white;
    opacity: 0.7;

    @media (max-width: $tablet-width) {
      text-align: center;
    }
  }
}

.footer__block-offer {
  display: flex;
  flex-wrap: wrap;

  p {
    margin-left: 49px;

    @media (max-width: $desktop-width-min) {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;

      @media (max-width: $desktop-width-min) {
        margin-bottom: 7px;
      }
    }
  }

  @media (max-width: $desktop-width-min) {
    display: block;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
