.header {
  position: absolute;
  width: 100%;
  height: 680px;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 108px 1fr 44px 16px;
  grid-template-rows: 72px max-content;
  z-index: 10;

  @media (min-width: $tablet-width) {
    grid-template-columns: 20px 138px 1fr 44px 40px;
    grid-template-rows: 92px max-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 40px 260px 1fr 60px 80px;
    grid-template-rows: 145px max-content;
  }

  &.active {
    position: relative;
    background: $gradient-purpur;

    &::before {
      position: absolute;
      width: 320px;
      height: 219px;
      top: 104px;
      right: 0;
      display: block;
      content: "";
      background-image: url("../img/bfw.png");
      background-repeat: no-repeat;
      background-size: 320px 219px;
      background-position: 50% 50%;

      @media (min-width: $tablet-width) {
        width: 768px;
        height: 504px;
        top: 120px;
        background-size: 768px 504px;
      }
    }
  }
}

.header__logo {
  width: 108px;
  height: 72px;
  display: block;
  background: $white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    width: 138px;
    height: 92px;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    height: 145px;
  }
}

.header__svg-logo {
  width: 108px;
  height: 60px;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    width: 138px;
    height: 77px;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    height: 145px;
    margin-top: 0;
  }
}

.header__menu-open-svg,
.header__menu-close-svg {
  width: 28px;
  height: 17px;
  margin: auto;
  fill: $white;
}

.header__menu-close-svg {
  width: 21px;
  height: 21px;
  display: none;
  margin-top: 13px;
  fill: $white;

  &.active {
    display: block;
  }
}

.header__toggle-menu {
  width: 44px;
  height: 44px;
  margin: auto 0;
  grid-column: -3 / -2;
  grid-row: 1 / 2;

  &:hover .header__menu-open-svg,
  &:hover .header__menu-close-svg,
  &:focus .header__menu-open-svg,
  &:focus .header__menu-close-svg {
    fill: $gold;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__menu-open-svg {
  width: 44px;
  height: 44px;
  display: none;

  &.active {
    display: block;
  }

  &.list {
    fill: $purpure;
  }
}

.header__menu {
  width: 100%;
  height: 608px;
  display: none;
  z-index: 100;

  &.active {
    display: block;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }

  @media (min-width: $tablet-width) {
    height: 923px;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    display: flex;
    flex-direction: row;
    grid-column: 3 / -3;
    grid-row: 1 / 2;
    z-index: 1;
  }
}

.header__nav {
  margin: 0;
  padding: 16px 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin: 0 120px 0 auto;
    padding: 0;
    display: flex;
  }
}

.header__nav-item {
  height: 60px;
  margin: 24px 16px 0;
  display: flex;
  border-bottom: $border-16;

  &:last-child {
    border: none;
  }

  @media (min-width: $tablet-width) {
    height: 100px;
    margin: 40px 24px 0;
  }

  @media (min-width: $desktop-width) {
    height: 22px;
    margin: auto 0 auto 64px;
    border-bottom: none;
  }
}

.header__nav-link {
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  font-family: $font-playfairdisplay;
  letter-spacing: 0.03em;
  color: $white;
  opacity: 0.87;

  @media (min-width: $tablet-width) {
    font-size: 56px;
  }

  @media (min-width: $desktop-width) {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-family: $font-lato;

    &.list {
      color: $black-100;
    }
  }
}

.header__select-menu {
  position: absolute;
  top: 26px;
  right: 96px;
  display: none;

  &.active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    top: 36px;
    right: 120px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 100%;
    height: auto;
    margin: auto 0;
    display: flex;
    grid-column: -3 / -2;
  }
}

.header__wrapper-display {
  display: none;

  @media (min-width: $desktop-width) {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__display-arrow {
  width: 9px;
  height: 6px;
  display: block;
  fill: $white;
}

.header__display-arrow-svg {
  width: 9px;
  height: 6px;
  display: block;
}

.header__select-display {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-lato;
  letter-spacing: -0.02em;
  color: $white;
  opacity: 0.64;
  cursor: pointer;

  &.active {
    ~.header__display-arrow {
      transform: rotate(180deg);
    }
  }
}

.header__select {
  width: 85px;
  height: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    display: none;

    &.active {
      position: absolute;
      width: 112px;
      height: auto;
      top: 93px;
      right: 80px;
      display: block;
      background: $white;
      box-shadow: $shadow-lang;
      border-radius: 5px;
    }
  }
}

.header__select-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-lato;
  letter-spacing: -0.02em;
  color: $white;
  opacity: 0.16;

  &--ru {
    &::after {
      margin-left: 3px;
      content: "/";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      font-family: $font-lato;
      letter-spacing: -0.02em;
      color: $white;
      opacity: 0.16;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 auto 8px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    font-family: $font-lato;
    letter-spacing: -0.02em;
    color: $black-100;
    opacity: 1;
  }
}

.header__select-item {
  display: block;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    display: flex;
    justify-content: start;
    align-items: center;

    &--ru {
      &::before {
        background-image: url("../img/stack.svg#flag-ru");
      }

      border-bottom: $border-100;
    }

    &--us {
      &::before {
        background-image: url("../img/stack.svg#flag-us");
      }
    }

    &::before {
      width: 27px;
      height: 18px;
      content: "";
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &.active .header__select-link {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 15px;
      height: 10px;
      content: "";
      display: block;
      margin-left: 12px;
    }

    &.active {
      &::after {
        background-image: url("../img/stack.svg#check-mark");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
  }
}

.header__social-modal {
  width: 180px;
  margin: 40px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__social-item {
  display: block;
}

.header__social-link {
  display: block;
}

.header__social-svg {
  fill: $white-16;

  &:hover,
  &:focus {
    fill: $white-50;
  }
}
