.judges {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 1024px;
    padding: 44px 0 90px;
  }
}

.judges__text-top {
  display: none;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 162px;
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    font-family: $font-lato;
    letter-spacing: 0.02em;
    color: $gold;
    opacity: 0.87;
  }
}

.judges__title {
  margin: 0 0 32px 16px;
  font-weight: bold;
  font-size: 32px;
  line-height: 126.64%;
  font-family: $font-playfairdisplay;
  letter-spacing: 0.03em;
  color: $black-text;
  opacity: 0.87;

  @media (min-width: $tablet-width) {
    margin: 50px 0 73px 48px;
    font-size: 56px;
    line-height: 110%;
  }
}

.judges__container {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    width: 1506px;
  }
}

.judges__item {
  width: 320px;
}

.judges__item-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 454px;
  }
}

.judges__mask {
  width: 320px;
  height: 269px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 454px;
    height: 382px;
  }
}

.judges__img {
  width: 320px;
  height: 269px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 454px;
    height: 382px;
  }
}

.judges__card {
  width: 320px;
  padding: 16px;
  background: $special-gray;

  @media (min-width: $tablet-width) {
    width: 454px;
    height: 274px;
    padding: 32px 34px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.judges__name {
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 110%;
  font-family: $font-playfairdisplay;
  letter-spacing: 0.03em;
  color: $black-100;

  @media (min-width: $tablet-width) {
    width: 280px;
    font-size: 40px;
    line-height: 110%;
  }
}

.judges__land {
  margin: 16px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-family: $font-playfairdisplay;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $black-100;
  opacity: 0.32;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: inline-block;
  }
}

.judges__text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  font-family: $font-playfairdisplay;
  color: $black-100;
  opacity: 0.64;

  @media (min-width: $tablet-width) {
    margin: 24px 0 20px;
  }
}

.judges__social {
  width: 100%;
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: end;
}

.judges__social-item {
  display: block;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.judges__social-link {
  width: 24px;
  height: 24px;
  display: block;
}

.judges__social-svg {
  fill: $black-24;

  &:hover,
  &:focus {
    fill: $gold;
    opacity: 1;
  }
}

.judges__arrows {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 1695px;
    height: 64px;
    top: 60%;
    right: calc(50% - 1695px / 2);
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
}

.judges__button {
  width: 32px;
  height: 64px;
}

.judges__svg {
  width: 32px;
  height: 64px;
  fill: $black-100;
  opacity: 0.5;
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    fill: $gold;
    opacity: 1;
  }
}

.judges__pagination {
  width: 88px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  margin: 24px auto 0;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    background: $black-24;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: $gradient-purpur;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
