.main {
  position: relative;

  @media (min-width: $tablet-width) {
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    height: 1080px;
  }
}

.main__control {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 108px;
    height: 22px;
    bottom: 24px;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    &::before {
      width: 32px;
      height: 1px;
      margin-top: 10px;
      margin-right: 10px;
      content: "";
      display: block;
      background: $white;
      opacity: 0.5;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1080px;
    bottom: 49%;
    left: -500px;
    transform: rotate(-90deg);

    &::before {
      width: 439px;
    }

    &::after {
      width: 288px;
      height: 1px;
      margin: auto 145px auto 0;
      content: "";
      display: block;
      background: $white;
      opacity: 0.5;
    }
  }
}

.main__pagination {
  @media (min-width: $tablet-width) {
    width: 60px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: $font-lato;
    color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 65px;
  }
}

.main__pagination-null,
.main__pagination-slash,
.swiper-pagination-total {
  font-weight: normal;
  opacity: 0.5;
}

.main__control-arrows {
  display: none;

  @media (min-width: $desktop-width) {
    width: 40px;
    display: flex;
    justify-content: space-between;
  }
}

.main__control-button {
  display: none;

  @media (min-width: $desktop-width) {
    width: 10px;
    height: 20px;
    display: block;
    fill: $white;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: $gold;
      opacity: 1;
    }

    &--prev {
      transform: rotate(180deg);
    }
  }
}

.main__control.active {

  &::before,
  &::after {
    background: $black;
  }

  .main__pagination {
    color: $black;
  }

  .main__control-button {
    fill: $black;
  }
}
