.price {
  padding: 104px 0 70px;
  background-image:
    url("../img/price-bg.png"),
    url("../img/big-circle.png"),
    url("../img/small-circle-left.jpg");
  background-repeat: no-repeat;
  background-position: 55% 53%, 100% -20%, 0 108%;

  @media (max-width: $tablet-width-max) {
    padding: 76px 0 17px;
    background-image:
      url("../img/price-bg-768.png"),
      url("../img/small-circle.png");
    background-repeat: no-repeat;
    background-position: 50% 50%, 100% -10%;
  }

  @media (max-width: $tablet-width) {
    padding: 62px 0 35px;
    background-image: url("../img/price-bg-768.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 735px 501p;
  }

  h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 124.41%;
    color: $black;

    @media (max-width: $tablet-width) {
      width: 210px;
      margin: 0 auto;
      font-size: 24px;
    }
  }
}

.price__list {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 63px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-max) {
    max-width: 581px;
  }

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    padding-top: 42px;
  }
}

.price__wrapper-card {
  strong {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    color: $blue;

    @media (max-width: $tablet-width-max) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  p {
    margin: 6px 0 42px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 158.47%;
    color: $blue;

    @media (max-width: $tablet-width-max) {
      margin-top: 15px;
    }
  }
}

.price__card-button {
  width: 192px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: $white;
  background: $purpure-button;
  border-radius: 50px;

  &:hover,
  &:focus {
    background: $purpure-hover;
  }

  &:active {
    background: $purpure-active;
  }

  @media (max-width: $tablet-width) {
    width: 196px;
  }
}

.price__item {
  width: 271px;
  position: relative;
  margin-bottom: 43px;
  padding: 67px 0 64px;
  background: $white;
  box-shadow: $shadow-blue-12;
  border-radius: 10px;

  @media (max-width: $tablet-width-max) {
    width: 280px;
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto 8px;
  }

  &--active {
    &::before {
      position: absolute;
      width: 90px;
      height: 90px;
      content: "";
      top: -44px;
      right: -25px;
      background: url("../img/price-act.png") 50% 50% no-repeat;

      @media (max-width: $tablet-width-max) {
        width: 93px;
        height: 93px;
        top: -16px;
        right: -11px;
      }

      @media (max-width: $tablet-width) {
        width: 62px;
        height: 62px;
        top: 0;
        right: 0;
        background: url("../img/price-act-min.png") 50% 50% no-repeat;
      }
    }
  }

  &:last-child {
    width: 570px;
    margin: 0 auto;
    padding: 41px 85px 48px 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 6px 0 0;

      @media (max-width: $tablet-width-max) {
        margin: 15px 0 42px;
      }
    }

    .price__card-button {
      margin: auto 0;

      @media (max-width: $tablet-width-max) {
        margin: 0 auto;
      }
    }

    @media (max-width: $tablet-width-max) {
      width: 280px;
      display: block;
      margin: 0;
      margin-bottom: 30px;
      padding: 67px 0 64px;
    }

    @media (max-width: $tablet-width) {
      margin: 0 auto;
    }
  }
}
