.streams {
  margin: 0 auto;
  padding: 95px 0 0;

  @media (max-width: $tablet-width-max) {
    padding: 76px 0 0;
  }

  @media (max-width: $tablet-width) {
    padding: 41px 0 0;
  }

  h2 {
    margin: 0;
    padding-left: 27px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 124.41%;
    color: $black;

    @media (max-width: $tablet-width-max) {
      padding-left: 0;
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
    }
  }
}

.streams__list {
  margin: 0 0 -22px -10px;
  padding-top: 61px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 -6px -5px;
    padding-top: 61px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 -6px -5px;
    padding-top: 31px;
  }
}

.streams__item {
  margin: 0 0 22px 10px;

  @media (max-width: $tablet-width-max) {
    margin-left: 5px;
    margin-bottom: 6px;
  }

  img {
    width: 341px;
    height: 267px;
    display: block;

    @media (max-width: $tablet-width-max) {
      width: 187px;
      height: 187px;
    }

    @media (max-width: $tablet-width) {
      width: 157px;
      height: 135px;
      margin: 0;
    }
  }
}
