$tablet-width: 768px;
$desktop-width: 1695px;

$white: #ffffff;
$white-16: rgba(#ffffff, 0.16);
$white-40: rgba(#ffffff, 0.4);
$white-50: rgba(#ffffff, 0.5);
$black: #000000;
$black-100: #303030;
$black-16: rgba(48, 48, 48, 0.16);
$black-24: rgba(0, 0, 0, 0.24);
$black-90: rgba(48, 48, 48, 0.9);
$black-text: #1c1515;
$blue-black: #323c47;
$gold: #f2c03f;
$gold-10: rgba(#f2c03f, 0.1);
$gray: #c4c4c4;
$special-gray: #f4f4f4;
$gray-2: #d0d7dd;
$gray-ligth: #f5f5f5;
$pink: #fff5f5;
$purpure: #7664a3;

$gradient-purpur: linear-gradient(121.1deg, rgba(101, 78, 163, 0.87) 35.26%, rgba(95, 75, 139, 0.87) 88.11%);

$border-16: 1px solid $white-16;
$border-40: 1px solid $white-40;
$border-black-16: 1px solid $black-16;
$border-100: 1px solid $black-100;
$border-gray: 1px solid $gray-2;
$border-gold: 1px solid $gold;

$shadow-lang: 2px 4px 12px rgba(0, 0, 0, 0.25);
$shadow-button: drop-shadow(0 5px 12px rgba(49, 40, 70, 0.12));

$font-lato: "Lato", "Arial", sans-serif;
$font-playfairdisplay: "PlayfairDisplay", "PT Serif", serif;
