$modal-width: 320px;
$tablet-width: 767px;
$tablet-width-max: 1023px;
$desktop-width-min: 1284px;
$desktop-width: 1439px;
$desktop-width-big: 1600px;
$desktop-width-max: 1790px;

$white: #ffffff;
$white-10: rgba(#ffffff, 0.1);
$white-ligth: #f9fbff;
$black: #000000;
$black-lidth: #636363;
$gray: #e5e5e5;
$blue: #2f80ed;
$blue-10: rgba(#2f37ed, 0.1);
$blue-12: rgba(#2f37ed, 0.12);
$blue-30: rgba(#779dff, 0.3);
$blue-gradient: #6aaaff;
$blue-ligth: #cadef9;
$blue-ligth-10: rgda(#cadef9, 0.1);
$purpure-button: #52d1bc;
$purpure: #64e2cd;
$purpure-50: rgba(#64e2cd, 0.5);

$gradient: radial-gradient(68.31% 68.31% at 50% 50%, $white-ligth 0%, $blue-ligth 100%), $white;
$gradient-blue: radial-gradient(68.31% 68.31% at 50% 50%, $blue-gradient 0%, $blue 100%), $white;
$gradient-white: radial-gradient(68.31% 68.31% at 50% 50%, $white 0%, $blue-ligth 100%), $white;
$gradient-white-10: radial-gradient(68.31% 68.31% at 50% 50%, $white 0%, $blue-ligth-10 100%), $white-10;

$shadow-blue-30: 0 10px 50px $blue-30;
$shadow-blue-10: 0 30px 100px $blue-10;
$shadow-blue-12: 0 20px 50px $blue-12;

$border-dashed: 1px dashed $blue;

$font-montserrat: "montserrat", "Arial", sans-serif;
