section.consist
h2 В стоимость входит
  ul.consist__list
    li.consist__item
      h3 3 методички
      p методичка по проведению Customer Development и по настройке процессов проверки гипотез
    li.consist__item
      h3 3 месяца подписки
      p можно прочитать книгу (бумажный тираж закончился)
    li.consist__item
      .consist__video-block
        img(src="img/video-big.jpg", width="295", height="166" alt="")
      p Видеозапись курса
    li.consist__item
      h3 Бессмертный чат
      p Вы познакомитесь с большим количеством интересных продактов и сможете общаться и после курса, общий чат в Telegram останется с вами надолго
