section.price
 h2 Стоимость для компаний
 ul.price__list
  li.price__item
   .price__wrapper-card
    strong 32 900 ₽
    p 1 сотрудник
    a.price__card-button(href="#") ОФОРМИТЬ
  li.price__item
   .price__wrapper-card
    strong 29 900 ₽ / чел
    p 2 сотрудника
    a.price__card-button(href="#") ОФОРМИТЬ
  li.price__item
   .price__wrapper-card
    strong 26 900 ₽ / чел
    p 5+ сотрудников
    a.price__card-button(href="#") ОФОРМИТЬ
  li.price__item
   .price__wrapper-card
    strong 25 900 ₽
    p Тариф “Для себя”
    a.price__card-button(href="#") ОФОРМИТЬ
