section.promo
  h1.visually-hidden Customer Development
  h2.promo__title Если вы не делаете Customer Development —  вы не управляете движением к product-market fit
  ul.promo__list
    li.promo__item
      .promo__item-card
        strong 94%
        p стартапов умирают в течение 3 лет, и главная причина этого — отсутствие  product-market fit
    li.promo__item
      .promo__item-card
        strong менее 50%
        p тестируемых Amazon функций реально запускаются после проверки гипотез
    li.promo__item
      .promo__item-card
        strong только 50%
        p компаний по результатам исследования SaaS проводят многовариантные  A / B тестирования
    li.promo__item
      .promo__item-card
        strong от 40 до 90%
        p новых продуктов не получают значительного признания на рынке, так как строятся на основе творчества, интуиции и интеллекта
