section.result#4
  .result__wrapper
    h2 Результат
    ul.result__list
      li.result__item
        .result__item-block.result__item-block--test
          .result__item-wrapper-text
            h3 Ты начнёшь делать Customer Development и проверять гипотезы в своём проекте
            p Структура курса построена построена вокруг практики в проектах участников курса. 100% слушателей этого курса будут применять оба навыка в своих проектах
      li.result__item
        .result__item-block.result__item-block--process
          .result__item-wrapper-text
            h3 Заведенный процесс
            p Обязательной частью обучения будет встройка процессов постоянного Customer Development и проверки гипотез в ежедневную рутину
      li.result__item
        .result__item-block.result__item-block--tool
          .result__item-wrapper-text
            h3 Инструменты, которые останутся с вами надолго
            p Все участники курса получат два набора карт — конструкторы, из которых можно будет собрать идеальный процесс Customer Development и проверить любую гипотезу
      li.result__item
        .result__item-block.result__item-block--receptions
          .result__item-wrapper-text
            h3 Кейсы и приёмы топовых компаний рунета
            p Расскажу и разберём кейсы, хаки и нюансы топовых команд России: SkyEng, Яндекс, Chatfuel

