section.streams
  h2 Как проходили прошлые потоки
  ul.streams__list
    li.streams__item
      img(src="img/streams1.jpg", alt="")
    li.streams__item
      img(src="img/streams2.jpg", alt="")
    li.streams__item
      img(src="img/streams3.jpg", alt="")
    li.streams__item
      img(src="img/streams4.jpg", alt="")
    li.streams__item
      img(src="img/streams5.jpg", alt="")
    li.streams__item
      img(src="img/streams6.jpg", alt="")
    li.streams__item
      img(src="img/streams7.jpg", alt="")
    li.streams__item
      img(src="img/streams8.jpg", alt="")
