section.streams#7
  h2 Как проходили прошлые потоки
  ul.streams__list
    li.streams__item
      img(src="img/streams1.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams2.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams3.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams4.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams5.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams6.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams7.jpg", width="341", height="267" alt="")
    li.streams__item
      img(src="img/streams8.jpg", width="341", height="267" alt="")
