section.trust
  h2 Почему мне можно доверять
  .trust__video-wrapper
    .trust__video-wrapper-img
      img(src="img/video-big.jpg", alt="")
    .trust__video-block-card
      h3 Алексей Иванов
      p Ex-Lead Product Manager
  ul.trust__list
    li.trust__item
      h3 Опыт в продукте
      p Отвечал за продукт поиска по изображениям, с помощью Customer Development и юзабилити-исследований добились кратного роста метрик
    li.trust__item
      h3 Обучил CustDev`у 400+ человек
      p 400+ человек уже прошли курс по CustDev и проверке гипотез в  рамках отдельного курса, так и в составе программы "Руководитель digital-продукта"
    li.trust__item
      h3 Опыт разработки бота
      p Создавали с нуля конструктор ботов для Messenger и выводили в лидеры рынка конструкторов ботов
    li.trust__item
      h3 Топ-2 — оценка лектора
      p Урезанный курс также читал в крупных digital -школах, студенты оценили как Топ-2 преподавателя
