section.trust#5
  h2 Почему мне можно доверять
  .trust__video-wrapper
    .trust__video-block
      .trust__video-wrapper-img
        picture
          source(media="(min-width: 1440px)",type="image/webp", srcset="img/video-big.webp, img/video-big@2.webp 2x")
          source(type="image/webp", srcset="img/video-768.webp, img/video-768@2.webp 2x")
          img(src="img/video-big.jpg", srcset="img/video-big@2.jpg", width="727", height="392" alt="")
      a.trust__button-intro(href="#")
        span.visually-hidden Play
    .trust__video-block-card
      h3 Алексей Иванов
      p Ex-Lead Product Manager
  ul.trust__list
    li.trust__item.trust__item--product
      h3 Опыт в продукте
      p Отвечал за продукт поиска по изображениям, <br>с помощью Customer Development <br>и юзабилити-исследований добились кратного роста метрик
    li.trust__item.trust__item--taught
      h3 Обучил CustDev &#96; у <br>400+ человек
      p 400+ человек уже прошли курс по CustDev и проверке гипотез в рамках отдельного курса, так и в составе программы "Руководитель digital&nbsp;-&nbsp;продукта"
    li.trust__item.trust__item--test
      h3 Опыт разработки бота
      p Создавали с нуля конструктор ботов <br>для Messenger <br>и выводили в лидеры рынка конструкторов ботов
    li.trust__item.trust__item--grade
      h3 Топ-2 — оценка лектора
      p Урезанный курс также читал в крупных digital -школах, студенты оценили как Топ-2 преподавателя
