section.well#3
  .well__wrapper
    h2 Что будет на курсе
    ul.well__list
      li.well__item
        a.well__item-link(href="#")
          h3 7 лекций
          p насыщенных практикой
      li.well__item
        a.well__item-link(href="#")
          h3 2 гипотезы
          p минимум, которые проверишь на курсе
      li.well__item
        a.well__item-link(href="#")
          h3 3 методички
          p с пошаговым описанием действий как провести классный CustDev и как проверить любую гипотезу
      li.well__item
        a.well__item-link(href="#")
          h3 20 интервью
          p с пользователями твоего продукта
      li.well__item
        a.well__item-link(href="#")
          h3 Начнешь, наконец, делать custdev
          p про который все давно говорят, но мало кто делает
    a.well__link(href="#") Смотреть программу полностью
