section.why#2
  .why__wrapper
    h2 Кому и зачем знать Customer Development
    ul.why__list
      li.why__item
        h3 ПРОДУКТОВОМУ ДИЗАЙНЕРУ
        p лучше узнать потребность клиента и научиться быстро проверять прототипы и макеты на пользователях чтобы исправлять ошибки и делать интерфейсы кратно качественнее
      li.why__item
        h3 ПРОДАКТ-<br>МЕНЕДЖЕРАМ
        p идеально знать мотивацию своих пользователей и принимать продуктовые решения быстрее и значительно качественнее
      li.why__item
        h3 ОСНОВАТЕЛЯМ СТАРТАПОВ
        p запустить процесс проверки гипотез в котором вы быстрее и ЗНАЧИТЕЛЬНО дешевле найдёте product-market fit
